$color_1: aquamarine;
$color_2: red;
$color_3: white;
$color_4: #0b3954;
$font-family_1: 'Roboto' times;
$font-family_2: sans-serif;
$background-color_1: aliceblue;
$background-color_2: #0b3954;
$background-color_3: red;
$background-color_4: #840705;

* {
	margin: 0;
	padding: 0;
}

$large: 1200px;