$color_1: aquamarine;
$color_2: red;
$color_3: white;
$color_4: #0b3954;
$font-family_1: 'Roboto' times;
$font-family_2: sans-serif;
$background-color_1: aliceblue;
$background-color_2: #0b3954;
$background-color_3: red;
$background-color_4: #840705;

* {
	margin: 0;
	padding: 0;

}

body {
	>.header {
		>h1 {
			color: $color_4;
			font: times;
		}
	}

	font-family: $font-family_1;
	background-color: $background-color_3;
	padding-bottom: 40px;
}


$large: 1200px;

p {
	font-size: 20px;
	text-indent: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	justify-content: center;
	align-self: center;
	text-decoration: solid;
	color: aquamarine;
	display: flex;

}