.receta {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px 20px;
    margin-left: 30px;
}

.responsive-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.responsive-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;

    &:nth-child(odd) {
        background-color: #f2f2f2;
    }

    &:hover {
        background-color: #dcdcdc;
    }
}

@media screen and (max-width: 768px) {
    .responsive-list li {
        font-size: 14px;
        padding: 8px;
    }
}