$font-family: 'Roboto', sans-serif;
$color_2: red;
$background-color_3: red;
$color_4: #0b3954;

.receta {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 20px;
  margin-left: 30px;
}

.lista {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  justify-content: flex-end;
}

.img-banner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.img-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  height: 100%;

  @media (max-width: 600px) {
    max-width: 100%;
    height: 80%;
  }

  .img-responsive {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
}

#toggler {
  display: none;
}

label {
  display: none;

  i {
    color: $color_2;
  }
}

.turno {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.responsive-list {
  list-style: disc;
  padding: 100px;
  margin: 0;
}

.responsive-list li {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .responsive-list li {
    font-size: 14px;
    padding: 8px;
  }
}

.responsive-list li:nth-child(odd) {
  background-color: $background-color_3;
}

.responsive-list li:hover {
  background-color: $color_4;
}

.intro {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.servicios {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }
}