body {
  >.header {
    >h1 {
      color: $color_4;
      font: times;
    }
  }

  font-family: $font-family_1;
  background-color: $background-color_3;
  padding-bottom: 40px;
}

p {
  font-size: 20px;
  text-indent: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  justify-content: center;
  align-self: center;
  text-decoration: solid;
  color: aquamarine;
  display: flex;

}

.receta {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 20px;
  margin-left: 30px;
}

.list {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0%;
  justify-content: flex-end;
}

/* body>.header>.navbar>.navbar-button {
    user-select: none;
    background-color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 15px;
    transition: 0.3s;
    display: inline-block;
    ;
  }
  
  body>.header>.navbar>.navbar-button:hover {
    background-color: #0b3954;
  
  } */
/* body>.header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 3px solid black;
  
  } */
/* 
  body {
    background-image: radial-gradient(circle farthest-corner at 17.1% 22.8%, rgba(226, 24, 24, 1) 0%, rgba(160, 6, 6, 1) 90%);
    ;
  }
  */

.img-banner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  padding: 0%;
  margin: 0%;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}


.img-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  height: 100%;

  @media (max-width: 600px) {
    max-width: 100%;
    height: 80%;

  }

  .img-responsive {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
}

#toggler {
  display: none;
}

label {
  display: none;

  i {
    color: $color_2;
  }
}


// .gallery__img {
// 	scroll-snap-align: start;
// 	margin-bottom: 10px;
// 	min-width: 100vw;
// 	-o-object-fit: cover;
// 	object-fit: cover;
// }

// .img-banner {
// 	display: flex;
// 	flex-direction: row;
// 	overflow: hidden;
// 	width: 100vw;
// 	height: 80vh;
// 	padding: 0%;
// 	margin: 0%;
// 	@media (max-width: 600px) { flex-direction: column;
// }
// } 

// .img-container {
// 	display: flex;
// 	justify-content: space-around;
// 	align-items: center;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	padding: auto;
// }


.turno {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.responsive-list {
  list-style: disc;
  padding: 100px;
  margin: 0;
}

.responsive-list li {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .responsive-list li {
    font-size: 14px;
    padding: 8px;
  }
}


.responsive-list li:nth-child(odd) {
  background-color: $background-color_3;
}


.responsive-list li:hover {
  background-color: $color_4;
}


// aca arranca sobre nosotros

.intro {
  font-size: 22px;
  font-weight: bold;
  text-align: center;

}

.servicios {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

}