.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.card {
    flex: 1;
    background-color: $background-color_3;
    margin: 5px;
    transition: transform 0.2s;
    border-radius: 10px;

    &:hover {
        transform: scale(1.05);
    }

    &__body {
        padding: 1rem;
        background-color: $background-color_2;
    }

    &__text {
        font-size: 0.9rem;
        font-weight: bold;
        color: $color_2;
    }
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }
}

.tarjeta {
    width: 600;
    background-color: $background-color_3;
    justify-content: center;
    align-self: center;

    &__body {
        padding: 1.5rem;
        background-color: $background-color_2;
    }

    &__list {
        display: flex;
        list-style: none;
        gap: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: $color_2;
    }

    &__item {
        padding: .3rem .5rem;
        background-color: $color_2;
        border-radius: 10px;
        font-size: .8rem;
        color: $color_2;
    }
}