* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto" times;
  background-color: red;
  padding-bottom: 40px;
}
body > .header > h1 {
  color: #0b3954;
  font: times;
}

p {
  font-size: 20px;
  text-indent: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  justify-content: center;
  align-self: center;
  text-decoration: solid;
  color: aquamarine;
  display: flex;
}

.receta {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 20px;
  margin-left: 30px;
}

.img-banner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  .img-banner {
    flex-direction: column;
  }
}

.img-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  height: 100%;
}
@media (max-width: 600px) {
  .img-container {
    max-width: 100%;
    height: 80%;
  }
}
.img-container .img-responsive {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.turno {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.responsive-list {
  list-style: disc;
  padding: 100px;
  margin: 0;
}

.responsive-list li {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .responsive-list li {
    font-size: 14px;
    padding: 8px;
  }
}
.responsive-list li:nth-child(odd) {
  background-color: red;
}

.responsive-list li:hover {
  background-color: #0b3954;
}

.intro {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.servicios {
  display: flex;
  flex-direction: column;
}
.servicios p {
  text-align: center;
}

.titulo {
  color: #0b3954;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  text-decoration: overline;
}

.footer {
  background-color: red;
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  border: 3px solid black;
}

.hero {
  color: #0b3954;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.telefono {
  display: flex;
  flex-direction: row;
}

.correo {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 15px;
  background: linear-gradient(#661312);
  border: solid black 2px;
  text-overflow: hidden;
}
.nav a {
  text-decoration: none;
  color: red;
  user-select: none;
  background-color: aliceblue;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 15px;
  transition: 0.3s;
  display: inline-block;
}
.nav a.navbar-button {
  user-select: none;
  background-color: aliceblue;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 15px;
  transition: 0.3s;
  display: inline-block;
}
.nav a:hover {
  background-color: #0b3954;
  transition: 1s;
}

.list {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  justify-content: flex-end;
}

#toggler {
  display: none;
}

label {
  display: none;
}
label i {
  color: #0b3954;
}

@media screen and (max-width: 800px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  label {
    display: inline-flex;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
.formulario > form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding-top: 20px;
  justify-content: flex-end;
}

.mapa {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

#scroll {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#scroll:hover {
  background-color: #0b3954;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-width: 100vw;
  object-fit: fill;
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    min-width: auto;
    min-height: 100vh;
  }
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-row-start: 2;
}
@media screen and (min-width: 1200px) {
  .lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    grid-row-start: auto;
  }
}
.lil-nav a {
  display: flex;
  min-width: 23vw;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .lil-nav a {
    margin-bottom: 10px;
    min-height: 200px;
    min-width: 100%;
  }
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}
.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card {
  flex: 1;
  background-color: red;
  margin: 5px;
  transition: transform 0.2s;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
}
.card__body {
  padding: 1rem;
  background-color: #0b3954;
}
.card__text {
  font-size: 0.9rem;
  font-weight: bold;
  color: red;
}

@media screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }
}
.tarjeta {
  width: 600;
  background-color: red;
  justify-content: center;
  align-self: center;
}
.tarjeta__body {
  padding: 1.5rem;
  background-color: #0b3954;
}
.tarjeta__list {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: red;
}
.tarjeta__item {
  padding: 0.3rem 0.5rem;
  background-color: red;
  border-radius: 10px;
  font-size: 0.8rem;
  color: red;
}

.turno {
  max-width: 100%;
}
.turno .responsive-iframe {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 75%;
}
.turno .responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3rem;
  position: relative;
  display: inline-block;
}
h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: aquamarine;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (orientation: landscape) {
  body {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
